section
    h2 Scope Inheritance

    pre.
        &lt;form&gt;
            <span class="highlight">&lt;!-- Outer Scope --&gt;</span>
            &lt;div ng-controller="OuterScopeCtrl"&gt;
                &lt;span&gt;{{ <span class="highlight">model.value</span> }}&lt;/span&gt;

                <span class="highlight">&lt;!-- Inner Scope --&gt;</span>
                &lt;div ng-controller="InnerScopeCtrl"&gt;
                    &lt;input type="text" ng-model="<span class="highlight">model.value</span>" /&gt;
                &lt;/div&gt;

            &lt;/div&gt;
        &lt;/form&gt;

    div.underline Rule of Thumb
    div.small-75
        span.pre ng-model
        span &nbsp;should always contain a dot ( . )
