doctype
html(lang='en')
    include head
    body
        .reveal
            .slides
                section
                    include slides/01-Welcome/01-Welcome
                    include slides/01-Welcome/02-Sponsors
                    include slides/01-Welcome/03-Audience
                section
                    include slides/02-ModelViewWhatever/01-Overview
                    include slides/02-ModelViewWhatever/02-SampleApplication

                section
                    include slides/03-Scope/01-WhatIsScope
                    include slides/03-Scope/02-ScopeCharacteristics
                    include slides/03-Scope/03-TheDigestCycle
                    include slides/03-Scope/04-DigestQuirks
                    include slides/03-Scope/05-DependencyAPI-Pt3
                    include slides/03-Scope/06-Injector
                section
                    include slides/04-Providers/01-ServicePatterns
                    include slides/04-Providers/02-Constant
                    include slides/04-Providers/03-Service
                    include slides/04-Providers/04-Factory
                    include slides/04-Providers/05-Provider-Pt1
                    include slides/04-Providers/06-Provider-Pt2
                    include slides/04-Providers/07-Provider-Pt3
                    include slides/04-Providers/08-Decorator-Pt1
                    include slides/04-Providers/09-Decorator-Pt2
                    include slides/04-Providers/10-Decorator-Pt3
                section
                    include slides/05-Controllers/01-Overview-Pt1
                section
                    include slides/06-Questions/01-ThankYou

        include footer