section
    h2 Directives
    h3 Isolated Scope

    pre.
        <div class="text-center">
            <span class="strong">Best Practice:</span>
            Use the scope option to create isolate scopes when making
            components that you want to reuse throughout your app.
        </div>

    .break
    div.strong Why?
