section
    h2 Directives
    h3 Isolated Scope

    ul
        li Isolated scopes DO NOT prototypally inherit from parent
        li Only selected properties "bind" between scopes

    .break
    ul
        li
            div Pros:
            ul
                li Use meaningful names from inner scope
                li No "magic" properties on scope - Bind whatever you want
