section
    h2 Directives
    h3 Scope Syntax

    .break
    div.text-left(style="margin: 0 auto; width: 75%")
        div
            span
                span.pre property
                span &nbsp;- name of isolated scope property
        div
            span
                span.pre attribute
                span &nbsp;- attribute name
        div
            div
                span
                    span.pre prefix
                    span &nbsp;- indicates how binding should occur

    pre.
        scope: {
            'property': '=attr'
        }


    div Three types of binding:
    ul
        li(style="line-height: 1em !important")
            span.small-75 - Text
        li(style="line-height: 1em !important")
            span.small-75 - One-Way
        li(style="line-height: 1em !important")
            span.small-75 - Two-Way