section
    h2
        span What is&nbsp;
        span.no-upper $scope

    ul
        li Created auto-magically by the framework
        li
            span Inherits from&nbsp;
            span.pre $rootScope
            span &nbsp;
            span.small-75 (more later...)
        li
            div Plain Old Javascript Object (POJO)
            ul
                li
                    span.small-75 No special get/set methods
        li
            div Used to communicate between components
            ul
                li
                    span.small-75 Usually sharing data, not always