section
    h2
        span Characteristics of&nbsp;
        span.no-upper $scope

    ul
        li
            span.pre $watch
            span ,&nbsp;
            span.pre $digest
            span , and &nbsp;
            span.pre $apply
        li
            span.pre $new(), $parent
            span.small-75 &nbsp;(scope inheritance)
        li
            span.pre $emit()
            span ,&nbsp;
            span.pre $broadcast()
            span , and &nbsp;
            span.pre $on()
