section
    h2
        span Characteristics of&nbsp;
        span.no-upper $scope

    ul
        li
            span.pre $digest
            span ,&nbsp;
            span.pre $apply
            span , and &nbsp;
            span.pre $watch
        li Scope Inheritance
        li
            span.pre $emit()
            span ,&nbsp;
            span.pre $broadcast()
            span , and &nbsp;
            span.pre $on()
