section
    h2
        span.no-upper $digest
        span &nbsp;Quirks

    ul
        li
            div Can watch functions change the $scope?
            ul
                li
                    span.small-75 Yes - $digest repeats until a "steady" state is achieved
        li
        li
            div What about async operations?
            ul
                li
                    span.small-75 AJAX, setTimeout, setInterval
