section
    h2
        span.no-upper $watch
        span &nbsp;expressions

    ul
        li
            span Can be interpolated via&nbsp;
            span.pre {{ expression }}
        li Can be passed to Directives via attributes
    div.small-90
        pre.
            &lt;body ng-controller="MainCtrl"&gt;
              &lt;header&gt;To-Do List&lt;/header&gt;
              &lt;ul&gt;
                &lt;li ng-repeat="item in items"&gt;
                  &lt;input type="checkbox"
                         <span class="highlight">ng-model="isChecked"</span>
                         <span class="highlight">ng-change="markAsComplete(item, isChecked)"</span> /&gt;
                  &lt;span&gt;<span class="highlight">{{ item.Title }}</span>&lt;/span&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
              &lt;button type="button" <span class="highlight">ng-click="addItem()"</span>&gt;Add Item&lt;/button&gt;
            &lt;/body&gt;