section
    h2 Model-View-Whatever

    div.row
        div.span4
            div.strong.underline Model
            ul
                li Services
                li Providers
                li Decorators
        div.span4
            div.strong.underline View
            ul
                li Templates
                li Directives
                li Filters
        div.span4
            div.strong.underline Whatever
            ul
                li Controllers
                li $scope